/* custom css */

/* Background from Subtle Patterns */
body {
    
    background-image: url("images/crossline-dots.png");
}

footer { 
    background-color: #343A40;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: cornsilk;
}

section {
    background-color: inherit

}